<?xml version="1.0" encoding="UTF-8"?>

<!--L
   Copyright Ekagra Software Technologies Ltd.
   Copyright SAIC, SAIC-Frederick

   Distributed under the OSI-approved BSD 3-Clause License.
   See http://ncip.github.com/cacore-sdk/LICENSE.txt for details.
L-->

<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="SDK Action Set"
            visible="true"
            id="gov.nih.nci.sdk.ide.actionSet">
         <menu
               label="SDK"
               id="sdkMenu">
            <separator
                  name="sdkGroup">
            </separator>
         </menu>
         <action
               label="&amp;Model Explorer"
               icon="src/images/sdk.gif"
               class="gov.nih.nci.sdk.ide.actions.SDKPlugInAction"
               tooltip="Open SDK IDE"
               menubarPath="sdkMenu/sdkGroup"
               toolbarPath="sdkGroup"
               id="gov.nih.nci.sdk.ide.actions.SDKPlugInAction">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="gov.nih.nci.sdk.ide"
            name="SDK Category">
      </category>
      <view
            category="gov.nih.nci.sdk.ide"
            class="gov.nih.nci.sdk.ide.views.MasterView"
            icon="src/images/sdk.gif"
            id="gov.nih.nci.sdk.ide.views.MasterView"
            name="Model Explorer">
      </view>
      <view
            category="gov.nih.nci.sdk.ide"
            class="gov.nih.nci.sdk.ide.views.DetailsView"
            icon="src/images/sdk.gif"
            id="gov.nih.nci.sdk.ide.views.DetailsView"
            name="Model Details">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="gov.nih.nci.sdk.ide.views.MasterView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="gov.nih.nci.sdk.ide.views.DetailsView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="gov.nih.nci.sdk.ide.perspectives.SDKPerspective"
            icon="src/images/gears.gif"
            id="gov.nih.nci.sdk.ide.perspectives.SDKPerspective"
            name="SDK Development">
      </perspective>
   </extension>

</plugin>
