<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Metrics Dashboard</title>


<style type="text/css">

body {
		text-align: center; /* for IE */
}

a.dfn {
	border-bottom: 1px dotted #00aa00;
	cursor: help;
}
a.dfn:active, a.dfn:link, a.dfn:visited {
	color: #000000;
	text-decoration: none;
}
a.dfn:hover {
	color: #0000ff;
	text-decoration: none;
}
body {
	font-family: verdana, arial, helvetica;
}
div.footer {
	font-size: 68%;
}
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.5em;
}
.hidden {
	display: none;
}




table {
   text-align: center;
   margin-left: auto;
   margin-right: auto;
}

table td {
	font-size: 85%;
}

/*
table th {
   font-size: 75%;
}

.heading {
   font-size: 75%;
}
*/


td.heading:hover {
    background: #c0ffc0;
	cursor: pointer;
}

td.heading {
   background: #dcecff;
	border: #d0d0d0 1px solid;
	font-weight: bold;
	text-align: center;
}



table.report {
	border: #d0d0d0 1px solid;
	font-weight: bold;
	text-align: center;
}


/*
table.report {
	border-collapse: collapse;
}
*/


/*
table.report td.text {
	border: #d0d0d0 1px solid;
	text-align: center;
}
table.report td.value-error {
	border: #d0d0d0 1px solid;
	text-align: center;
	color: red;
}
table.report td.value {
	border: #d0d0d0 1px solid;
	text-align: center;
}
table.percentGraph {
	border: #808080 1px solid;
	height: 12px;
}
table.percentGraph td.covered {
    background: #00f000;
	empty-cells: show;
}
table.percentGraph td.uncovered {
    background: #e00000;
	empty-cells: show;
}
table.percentGraph td.NA {
    background: #eaeaea;
	empty-cells: show;
}
*/

#content {
   margin: 0 auto;  
   text-align: center;
}

#header {
   padding-top: 50px;
   margin: 0 auto;
   padding-bottom: 25px;
}


</style>


   
</head>
<body>

<div id="header">

<h4>$project_name Build Dashboard</h4>
<!--
<h6>Build <xsl:value-of select="//project/build/@label"/>&#160;<xsl:value-of select="//project/build/@time"/></h6>
-->
</div>


<div id="content" >

<table border="0" style="border-style: dotted">

<tr>
	<td><table class="report" width="300">
			<thead><tr>
							<td class="heading" width="50%"><a href="">Classes</a></td>
							<td class="heading"><a href="">LOC</a></td>
						</tr>
			</thead>
			<tbody>
			  <tr>
				 <td class="value">$classes</td>
				 <td class="value">$loc</td>
			   </tr>
			   <tr>
			      <td> <img src="$classes_img_path" /></td>
			      <td> <img src="$loc_img_path" /> </td>
			   </tr>
			   
			</tbody>
			</table>   </td>

   <td>&#160;&#160;</td>

	<td><table class="report" width="300">
		<thead><tr>
						<td class="heading" width="50%"><a href="">Duplication</a></td>
						<td class="heading"><a href="">Max Complexity</a></td>
					</tr>
		</thead>
		<tbody>
		  <tr>
			 <td class="value">$duplication_fmt</td>
			 <td class="value">$max_complexity</td>
		  </tr>
			   <tr>
			      <td> <img src="$duplication_img_path" /></td>
			      <td> <img src="$max_complexity_img_path" /> </td>
			   </tr>
		</tbody>
		</table>
	</td>
</tr>
<tr>
	<td>&#160;</td>
	<td>&#160;</td>
</tr>
<tr>
	<td><table class="report" width="300">
           <thead>
		     <tr>
				<td class="heading" width="50%"><a href="">Tests run</a></td>
				<td class="heading"><a href="">Failures</a></td>
			</tr>
		   </thead>
		  <tbody>
			  <tr>
				 <td class="value">$test_count</td>
				 <td class="value">$test_failures</td>
			  </tr>
			   <tr>
			      <td> <img src="$test_count_img_path" /></td>
			      <td> <img src="$test_failures_img_path" /> </td>
			   </tr>
		  </tbody>
		  </table>
   </td>

   <td>&#160;&#160;</td>

	<td><table class="report" width="300">
			<thead><tr>
							<td class="heading" width="50%"><a href="">Line coverage</a></td>
							<td class="heading"><a href="">Branch coverage</a></td>
						</tr>
			</thead>
			<tbody>
			  <tr>
				 <td class="value">$coverage_line_fmt</td>
				 <td class="value">$coverage_branch_fmt</td>
			   </tr>
			   <tr>
			      <td> <img src="$coverage_line_img_path" /></td>
			      <td> <img src="$coverage_branch_img_path" /> </td>
			   </tr>
			</tbody>
			</table>
	</td>
</tr>


<tr>
	<td>&#160;</td>
	<td>&#160;</td>
</tr>


<tr>
	<td><table class="report" width="300">
			<thead><tr>
							<td class="heading" width="50%"><a href="">FindBugs</a></td>
							<td class="heading"><a href="">PMD </a></td>
						</tr>
			</thead>
			<tbody>
			  <tr>
				 <td class="value">$bugs</td>
				 <td class="value">$pmd_violations</td>
			  </tr>
			   <tr>
			      <td> <img src="$bugs_img_path" /></td>
			      <td> <img src="$pmd_violations_img_path" /> </td>
			   </tr>
			</tbody>
			</table>
	</td>

 <td>&#160;&#160;</td>

<td><table class="report" width="300">
			<thead><tr>
							<td class="heading" width="50%"><a href="">Max Afferent </a></td>
							<td class="heading"><a href="">Max Efferent </a></td>
						</tr>
			</thead>
			<tbody>
			  <tr>
				 <td class="value">$coupling_afferent_max</td>
				 <td class="value">$coupling_efferent_max</td>
			  </tr>
			   <tr>
			      <td> <img src="$coupling_afferent_max_img_path" /></td>
			      <td> <img src="$coupling_efferent_max_img_path" /> </td>
			   </tr>
			</tbody>
			</table>
</td>
</tr>

</table>


<TABLE border="0" style="border-style: dotted">
<TR> <TD><img src="$coverage_population_img_path"/></TD>
     <TD><img src="$loc_population_img_path" alt="" /></TD> </TR>
<TR> <TD><img src="$pmd_violation_population_img_path" alt="" /></TD>
     <TD><img src="$duplication_population_img_path" alt="" /></TD> </TR>
</TABLE>

</div>


</body>
</html>